@model Web.Models.Drivers

<div>
    <h4>Drivers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFF)
        </dd>

        <dt>
            @Html.DisplayName("Last Time in the Market")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_updated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
